{% extends 'base.html' %}

{% block title %} About Us {% endblock %}

{% block content %}
    <section class="p-3">
        <h3 class="text-center fw-bold">DEVELOPERS</h3>
        <h6 class="text-center">BSIT 1-F</h6>
        <p class="secondary text-center w-75 mx-auto">
            The system project was made possible through the collaborative efforts of all team members, each contributing essential resources and playing key roles in both the development and documentation process.
        </p>
        <div class="row g-3 p-5 text-center">
            <div class="col-6 col-lg-3 col-md-4">
                <div class="card shadow">
                    <img src="/static/images/rexie.png" class="card-img-top dev" alt="rexie">
                    <div class="card-body">
                        <h6 class="card-title"> Rexie Villanueva </h6>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 col-md-4">
                <div class="card shadow">
                    <img src="/static/images/rain.png" class="card-img-top dev" alt="rain">
                    <div class="card-body">
                        <h6 class="card-title"> Rain Santiago </h6>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 col-md-4">
                <div class="card shadow">
                    <img src="/static/images/trisha.png" class="card-img img-fluid h-100" alt="trisha">
                    <div class="card-body">
                        <h6 class="card-title"> Trisha Ann Santos </h6>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 col-md-4 mx-auto">
                <div class="card shadow">
                    <img src="/static/images/reyneil.png" class="card-img-top dev" alt="reyneil">
                    <div class="card-body">
                        <h6 class="card-title"> Reyneil De Guzman </h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}