{% extends 'base.html' %}

{% block title  %} Online Gadget Store {% endblock %}

{% block content %}
    <!-- Start of Shop Page -->
    {% include 'header.html' %}
    <section class="p-5">
        <div class="row g-3">
            {% for i in data %}
                <div class="col-12 col-lg-4 col-md-6 mb-4">
                    <div class="card rounded shadow-sm w-100 h-100 mx-auto">
                        <div class="container p-2 d-flex justify-content-center w-75 h-50">
                            <img src="{{ url_for('get_image', item_id=i[0]) }}" class="card-img-top" alt="{{ i[1] }}">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ i[1] }}
                            </h5>
                            <p class="card-text">
                                {{ i[2] }}
                            </p>
                            <p class="card-text">
                                Price: <span class="fw-bold">₱{{ i[3] }}</span>
                            </p>
                            <p class="card-text">
                                <i class="bi bi-box-seam"></i> Stocks: {{ i[4] }}
                            </p>
                            <p><i class="bi bi-truck text-warning"></i> Free Shipping Fee</p>
                            <div class="d-flex justify-content-start">
                                <button class="btn btn-warning mx-2"
                                    data-bs-toggle="modal" data-bs-target="#buy{{i[0]}}">
                                    <i class="bi bi-bag-plus-fill me-1"></i> 
                                    Buy
                                </button>
                                <button class="btn btn-secondary"
                                    data-bs-toggle="modal" data-bs-target="#cart{{i[0]}}">
                                    <i class="bi bi-cart-plus me-1"></i> Cart
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Buy Modal -->
                <div class="modal" id="buy{{i[0]}}" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content h-100 w-md-75 w-100 w-md-75">
                            <div class="modal-header">
                                <h5 class="modal-title">{{ i[1] }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="d-flex justify-content-center mb-3">
                                    <img src="{{ url_for('get_image', item_id=i[0]) }}" class="card-img-top w-25" alt="{{ i[1] }}">
                                </div>
                                <p class="card-text">
                                    {{ i[2] }}
                                </p>
                                <p class="card-text">
                                    Price: <span class="fw-bold">₱{{ i[3] }}</span>
                                </p>
                                <p class="card-text">
                                    <i class="bi bi-box-seam"></i> Stocks: {{ i[4] }}
                                </p>
                                <p><i class="bi bi-truck text-warning"></i> Free Shipping Fee</p>
                                <form action="{{ url_for('buy_items') }}" method="POST">
                                    <div class="mb-3">
                                        <label for="quantity" class="form-label">Quantity</label>
                                        <input type="number" class="form-control w-25" name="quantity" min="1" max="{{ i[4] }}" value="1" required>
                                    </div>
                                    <input type="hidden" name="item_id" value="{{ i[0] }}">
                                    <input type="hidden" name="item_name" value="{{ i[1] }}">
                                    <input type="hidden" name="item_price" value="{{ i[3] }}">
                                    <input type="hidden" name="item_category" value="{{ i[5] }}">
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-warning">Buy Now</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Buy Modal -->

                <!-- Add to cart Modal -->
                <div class="modal" id="cart{{i[0]}}" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content h-100 w-md-75 w-100 w-md-75">
                            <div class="modal-header">
                                <h5 class="modal-title">{{ i[1] }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="d-flex justify-content-center mb-3">
                                    <img src="{{ url_for('get_image', item_id=i[0]) }}" class="card-img-top w-25" alt="{{ i[1] }}">
                                </div>
                                <p class="card-text">
                                    {{ i[2] }}
                                </p>
                                <p class="card-text">
                                    Price: <span class="fw-bold">₱{{ i[3] }}</span>
                                </p>
                                <p class="card-text">
                                    <i class="bi bi-box-seam"></i> Stocks: {{ i[4] }}
                                </p>
                                <p><i class="bi bi-truck text-warning"></i> Free Shipping Fee</p>
                                <form action="{{ url_for('cart_items') }}" method="POST">
                                    <div class="mb-3">
                                        <label for="quantity" class="form-label">Quantity</label>
                                        <input type="number" class="form-control w-25" name="quantity" min="1" max="{{ i[4] }}" value="1" required>
                                    </div>
                                    <input type="hidden" name="item_id" value="{{ i[0] }}">
                                    <input type="hidden" name="item_name" value="{{ i[1] }}">
                                    <input type="hidden" name="item_price" value="{{ i[3] }}">
                                    <input type="hidden" name="item_category" value="{{ i[5] }}">
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-warning">Add to Cart</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of add to cart Modal -->
                {% endfor %}
        </div>
    </section>
    <script src="/static/js/shop.js"></script>
    {% include 'footer.html' %}
{% endblock %}