{% extends 'base.html' %}

{% block title %} Online Gadget Store {% endblock %}

{% block content %}
    {% include 'header.html' %}

    <section class="p-5">
        <div class="container shadow rounded p-5">
            {% if cart %}
                <h5 class="text-center mt-3 mb-5">Your Cart</h5>
                <div class="row g-3">
                    {% for i in cart %}
                        <div class="col-12 col-md-4 col-lg-3 d-flex">
                            <div class="card rounded shadow-sm h-100 w-100">
                                <div class="d-flex flex-column h-100">
                                    <div class="d-flex justify-content-center my-2">
                                        <img src="{{ url_for('get_image', item_id=i[2]) }}" class="card-img-top w-75" alt="{{ i[3] }}">
                                    </div>
                                    <div class="card-body d-flex flex-column h-100">
                                        <h5 class="card-title">{{ i[3] }}</h5>
                                        <p class="card-text">Quantity: {{ i[4] }}</p>
                                        <p class="card-text">Price: <span class="fw-bold">₱{{ i[5] }}</span></p>
                                        <div class="mt-auto d-flex gap-2">
                                            <form action="{{ url_for('buy_items_fr_cart') }}" method="post" class="w-50">
                                                <input type="hidden" name="cart_id" value="{{ i[0] }}">
                                                <button type="submit" class="btn btn-success w-100">Buy Now</button>
                                            </form>
                                            <form action="{{ url_for('cancel_cart') }}" method="post" class="w-50">
                                                <input type="hidden" name="cart_id" value="{{ i[0] }}">
                                                <button type="submit" class="btn btn-danger w-100">Remove</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <h5 class="text-center mt-3 mb-5">No Cart Found</h5>
                <div class="d-flex justify-content-center">
                    <a href="{{ url_for('shop') }}" class="btn btn-warning btn-sm rounded px-5">Shop Now</a>
                </div>
            {% endif %}
        </div>
    </section>

    {% include 'footer.html' %}
{% endblock %}