{% extends 'base.html' %}

{% block title %} Online Gadget Store {% endblock %}

{% block content %}
    {% include 'header.html' %}


    <section class="p-5">
        <div class="container shadow rounded p-5">
            {% if orders %}
                <h5 class="text-center mt-3 mb-5">Your Orders</h5>
                <div class="row g-3">
                    {% for i in orders %}
                        <div class="col-12 col-lg-3 col-md-4">
                            <div class="card rounded shadow-sm h-100 ">
                                <div class="d-flex justify-content-center">
                                    <img src="{{ url_for('get_image', item_id=i[2]) }}" class="card-img-top w-50" alt="{{ i[1] }}">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        {{ i[6] }}
                                    </h5>
                                    <p class="card-text">
                                        Quantity: {{ i[3] }}
                                    </p>
                                    <p class="card-text">
                                        Price: <span class="fw-bold">₱{{ i[4] }}</span>
                                    </p>
                                    <form action="{{url_for('cancel_order')}}" method="post">
                                        <input type="hidden" name="order_id" value="{{ i[0] }}">
                                        <button type="submit" class="btn btn-danger form-control">
                                            Cancel
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}    
                </div>    
            {% else %}
                <h5 class="text-center mt-3 mb-5">No Orders Found</h5>
                <div class="d-flex justify-content-center">
                    <a href="{{url_for('shop')}}" class="btn btn-warning btn-sm rounded px-5">Shop Now</a>
                </div>
            {% endif %}
        </div>
    </section>


    {% include 'footer.html' %}
{% endblock %}